<dialog id="commandModal" class="modal modal-top">
  <div class="modal-box ml-[25%] w-1/2">
    {{ component "modals/commandPalette.html" }}
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<label x-init @click="showModal()" @input="showModal()" class="input input-bordered flex items-center gap-2 mx-4">
  {{ icon "search.svg" }}
  <input id="search-dummy" type="text" placeholder="Search" />
  <kbd class="kbd kbd-sm">Ctrl</kbd>
  <kbd class="kbd kbd-sm">P</kbd>
</label>

<script>
  window.addEventListener('keydown', keydownHandler);

  /**
   * @param {KeyboardEvent} event
  */
  function keydownHandler(event) {
    if (event.ctrlKey && event.code === 'KeyP') {
      showModal()
      event.preventDefault();
    };
  }

  function showModal() {
    commandModal.showModal()
    document.getElementById('search-dummy').value = ''
  }
</script>