<div role="tablist" class="tabs tabs-bordered w-full" id="{{ .UUID }}">
  <input type="radio" name="device-info-tabs" role="tab" class="tab" aria-label="Mockup" checked />
  <div role="tabpanel" class="tab-content">
    <p class="text-sm text-warning mt-2">for full data, click "Json"</p>
    <h1 class="text-accent text-center text-2xl font-bold pt-4">
      {{ range $idx, $addr := .Host.addresses }}
      {{ if and $idx (eq $addr.addr_type "ipv4")}},{{ end }}
      {{ if eq $addr.addr_type "ipv4" }} {{ $addr.addr }} {{ end }}
      {{ end }}
    </h1>
    <h2 class="text-center text-xl font-semibold">
      {{ if or (not .Host.matches) (eq (len .Host.os.matches) 0) }}
      Unknown OS
      {{ else }}
      {{ (index .Host.os.matches 0).name }}
      {{ end }}
    </h2>
    <input type="text" id="webssh-uname" value="root">
    <button class="btn" id="webssh-submit">WebSSH</button>
    <hr class="hr my-4 w-2/3 mx-auto">
    <table class="mx-auto w-2/3 table">
      <tbody>
        <tr>
          <td class="text-right">MAC Address</td>
          <td class="text-left">
            {{ range $idx, $addr := .Host.addresses }}
            {{ if (and $idx (eq $addr.addr_type "mac")) }}
            {{ $addr.addr }}
            {{ end }}
            {{ end }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Vendor</td>
          <td class="text-left">
            {{ range $idx, $addr := .Host.addresses }}
            {{ if (and $idx (eq $addr.addr_type "mac")) }}
            {{ $addr.vendor }}
            {{ end }}
            {{ end }}
            {{ if or (not .Host.matches) (eq (len .Host.os.matches) 0) }} Unknown {{ end }}
          </td>
        </tr>
        <tr>
          <td class="text-right">OS</td>
          <td class="text-left">
            {{ if or (not .Host.matches) (eq (len .Host.os.matches) 0) }}
            Unknown OS
            {{ else }}
            {{ (index .Host.os.matches 0).Name }} ({{ (index .Host.os.matches 0).Accuracy }}% accuracy)
            {{ end }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Status</td>
          <td class="text-left">
            {{ if eq .Host.status.state "up" }}
            <span class="text-success">Up ({{ .Host.status.reason }}) </span>
            {{ else }}
            <span class="text-error">Down ({{ .Host.status.reason }})</span>
            {{ end }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Hostnames</td>
          <td class="text-left">
            {{ range $idx, $host := .Host.hostnames }} {{ if $idx }}, {{ end }} {{ $host.name }} {{ end }}
            {{ if or (not .Host.hostnames) (eq (len .Host.hostnames) 0) }} Unknown {{ end }}
          </td>
        </tr>
        <tr>
          <td class="text-right">Uptime</td>
          <td class="text-left">
            {{ if and (eq .Host.status.state "up") .Host.uptime.lastboot }}
            {{ .Host.uptime.lastboot }} ({{ .Host.uptime.seconds }}s)
            {{ else }}
            Unknown
            {{ end }}
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="hr my-4 w-2/3 mx-auto">

    <table class="mx-auto w-2/3 table">
      <thead>
        <tr>
          <th class="text-center font-semibold">Port</th>
          <th class="text-center font-semibold">Protocol</th>
          <th class="text-center font-semibold">Service</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $p := .Host.ports }}
        <tr>
          <td class="text-center">{{ $p.id }}</td>
          <td class="text-center">{{ $p.protocol }}</td>
          <td class="text-center">{{ $p.service.name }}</td>
        </tr>
        {{ end }}
        {{ if or (not .Host.ports) (eq (len .Host.ports) 0) }}
        <tr>
          <td class="text-center" colspan="3">No open ports found</td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>

  <input type="radio" name="device-info-tabs" role="tab" class="tab" aria-label="Json" />
  <div role="tabpanel" class="tab-content whitespace-pre">
    <a target="_blank" href="/api/deviceJson/{{ .UUID }}/{{ .IDX }}" class="btn btn-accent btn-outline mb-4">View in new
      Tab {{ icon "external.svg" }} </a>
    {{ .Json }}
  </div>
</div>

<script>
  window.ips = `{{ range $idx, $addr := .Host.addresses }}{{ if and $idx (eq $addr.addr_type "ipv4")}},{{ end }}{{ if eq $addr.addr_type "ipv4" }}{{ $addr.addr }}{{ end }}{{ end }}`;
  window.wrapper = document.getElementById('{{ .UUID }}');
  window.websshSubmit = document.getElementById('webssh-submit');
  window.websshUname = document.getElementById('webssh-uname');

  window.websshSubmit.addEventListener('click', () => {
    const uname = websshUname.value;
    if (!uname) return;

    const url = new URL(window.location.href);
    const ip = window.ips.split(',')[0] || "127.0.0.1";
    url.pathname = '/api/startSSH/' + uname + '/' + ip;
    const modifiedUrl = url.toString();

    window.open(modifiedUrl, '_blank');

  });
</script>