<div class="overflow-hidden w-full h-full">{{ svg }}</div>

<div class="toolbar z-1 bottom-0 left-0 absolute m-4">
  <div class="tooltip tooltip-right tooltip-info" data-tip="new network scan">
    {{ component "components/newScan.html" `{"Classes": "btn btn-square btn-accent btn-outline mr-2"}` }}
  </div>
</div>

<div class="device-info w-1/3 border-l p-2 border-accent z-1 bottom-0 absolute overflow-hidden">
  <button x-init @click="hideDeviceInfo()">close</button>
  <div id="device-info" class="overflow-y-scroll h-full"><!-- htmx injects the device info here --></div>
</div>

<script>
  window.addEventListener("DOMContentLoaded", setupDeviceInfo);
  window.addEventListener("resize", setupDeviceInfo);

  function setupDeviceInfo() {
    const div = document.querySelector(".device-info");
    const nav = document.querySelector(".navbar");

    if (!div || !nav) return;

    div.style.transition = "left .2s ease";

    div.style.height = window.innerHeight - nav.clientHeight + "px";
    hideDeviceInfo();
  }

  function hideDeviceInfo() {
    const div = document.querySelector(".device-info");
    if (!div) return;

    div.style.left = document.documentElement.clientWidth + "px";
  }

  function showDeviceInfo() {
    const div = document.querySelector(".device-info");
    if (!div) return;

    div.style.left =
      document.documentElement.clientWidth - div.clientWidth + "px";
  }
</script>