<div class="overflow-hidden w-full h-full">{{ svg }}</div>

<div class="toolbar z-1 bottom-0 left-0 absolute m-4">
  <div class="tooltip tooltip-right tooltip-info" data-tip="new network scan">
    {{ component "components/newScan.html" `{"Classes": "btn btn-square btn-accent btn-outline mr-2"}` }}
  </div>
  <div id="lockSvg" class="tooltip tooltip-right tooltip-info" data-tip="edit mode">
    <button class="btn btn-square btn-accent btn-outline mr-2">
      {{ component "icons/locked.svg" }}
    </button>
  </div>
  <div id="unlockSvg" class="tooltip tooltip-right tooltip-info hidden" data-tip="edit mode">
    <button class="btn btn-square btn-accent btn-outline mr-2">
      {{ component "icons/unlocked.svg" }}
    </button>
  </div>
  <div id="resetGraph" class="tooltip tooltip-right tooltip-info" data-tip="reset graph">
    <button class="btn btn-square btn-accent btn-outline mr-2">
      {{ component "icons/reset.svg" }}
    </button>
  </div>
</div>

<div class="device-info w-1/3 border-l p-2 border-accent z-1 bottom-0 absolute overflow-hidden hidden bg-base-100">
  <button x-init @click="hideDeviceInfo()">{{ component "icons/x.svg" }}</button>
  <span id="device-loading" class="loading loading-dots text-accent w-[20%]"></span>
  <div id="device-info" class="overflow-y-scroll h-full"><!-- htmx injects the device info here --></div>
</div>

<script x-init="setupDeviceInfo()">
  window.addEventListener("DOMContentLoaded", setupDeviceInfo);
  window.addEventListener("resize", setupDeviceInfo);
  window.addEventListener("htmx:afterSwap", (detail) => {
    if (detail.target.id !== "device-info") return

    const loading = document.querySelector("#device-loading");
    if (!loading) return;
    loading.style.display = "none";
  });

  window.addEventListener("htmx:afterSwap", (detail) => {
    if (detail.target.id === "device-info") return
    setupDeviceInfo();
  });

  function setupDeviceInfo() {
    const div = document.querySelector(".device-info");
    const nav = document.querySelector(".navbar");
    let toaster = document.querySelector("#toaster");
    if (toaster) toaster = toaster.querySelector("div");
    const loading = document.querySelector("#device-loading");

    if (!div || !nav || !toaster) return;

    div.style.transition = "left .2s ease";
    toaster.style.transition = "right .2s ease";

    div.style.height = window.innerHeight - nav.clientHeight + "px";
    toaster.style.right = "0px";
    loading.style.display = "block";
    loading.style.position = "absolute";
    loading.style.top = "50%";
    loading.style.left = "50%";
    loading.style.transform = "translate(-50%, -50%)";
    div.querySelector("#device-info").style.zIndex = "-1";
    div.classList.remove("hidden");
    hideDeviceInfo();
  }

  function hideDeviceInfo() {
    const div = document.querySelector(".device-info");
    const toaster = document.querySelector("#toaster").querySelector("div");
    const loading = document.querySelector("#device-loading");
    if (!div || !toaster || !loading) return;

    div.style.left = document.documentElement.clientWidth + "px";
    toaster.style.right = "0px";
    loading.style.display = "block";
    div.querySelector("#device-info").innerHTML = "";
  }

  function showDeviceInfo() {
    hideDeviceInfo();
    const div = document.querySelector(".device-info");
    const toaster = document.querySelector("#toaster").querySelector("div");
    const loading = document.querySelector("#device-loading");
    if (!div || !toaster || !loading) return;

    div.style.left =
      document.documentElement.clientWidth - div.clientWidth + "px";
    toaster.style.right = div.clientWidth + "px";
  }
</script>

<script>
  let graphSvg = document.getElementById("graph")
  let groups = graphSvg.querySelectorAll("g")
  /**
   * @type {HTMLElement | null}
   */
  let target = null

  let lockBtnWrapper = document.querySelector(".toolbar #lockSvg")
  let unlockBtnWrapper = document.querySelector(".toolbar #unlockSvg")
  let locked = true

  let resetBtnWrapper = document.querySelector(".toolbar #resetGraph")

  document.addEventListener("mousedown", groupMouseDown)
  document.addEventListener("mouseup", groupMouseUp)
  document.addEventListener("mousemove", groupMouseMove)

  lockBtnWrapper.addEventListener("click", toggleLock)
  unlockBtnWrapper.addEventListener("click", toggleLock)

  resetBtnWrapper.addEventListener("click", resetGraph)

  window.addEventListener("DOMContentLoaded", setupGraph)
  window.addEventListener("resize", setupGraph)

  function setupGraph() {
    for (let group of groups) {
      let id = group.id
      let transform = localStorage.getItem(id)
      if (!transform) return

      let [dx, dy] = transform.split(",")
      group.setAttribute("transform", `translate(${dx}, ${dy})`)
    }
  }

  function resetGraph() {
    for (let group of groups) {
      let origin = group.getAttribute("data-origin") || "0,0"
      group.setAttribute("transform", `translate(${origin})`)
      localStorage.removeItem(group.id)
    }
  }

  function toggleLock() {
    locked = !locked
    lockBtnWrapper.classList.toggle("hidden")
    unlockBtnWrapper.classList.toggle("hidden")
  }

  /**
   * @param {MouseEvent} e
   */
  function groupMouseDown(e) {
    if (locked) return

    let trgt = e.target
    while (trgt.tagName !== "g") {
      if (trgt === document.body || !trgt) return
      trgt = trgt.parentElement
    }
    target = trgt
  }

  /**
   * @param {MouseEvent} e
   */
  function groupMouseMove(e) {
    if (!target || locked) return
    target.setAttribute("transform", `translate(0px, 0px)`)

    let x = e.clientX
    let y = e.clientY
    let rect = target.getBoundingClientRect()
    let dx = x - rect.left
    let dy = y - rect.top
    target.setAttribute("transform", `translate(${dx}, ${dy})`)
    localStorage.setItem(target.id, `${dx},${dy}`)
  }

  /**
   * @param {MouseEvent} e
   */
  function groupMouseUp(e) {
    target = null
  }

</script>