<div class="overflow-x-auto flex justify-center w-full h-full">
  <div class="max-w-full md:max-w-[80%] lg:max-w-[60%] m-auto">
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text text-xl">Sort by</span>
      </div>
      <select class="select select-bordered text-xl" x-init="sortByData('end', true)">
        <option selected x-init @click="sortByData('end', true)">Recently Finished</option>
        <option x-init @click="sortByData('end', false)">Oldest Finished</option>
        <option x-init @click="sortByData('start', true)">Recently Started</option>
        <option x-init @click="sortByData('start', false)">Oldest Started</option>
      </select>
    </label>
    <table class="table w-full text-md md:text-lg lg:text-2xl overflow-x-scroll ">
      <thead>
        <tr>
          <th>Started at</th>
          <th>Completed at</th>
          <th>Targets</th>
          <th>Ports</th>
          <th>OS Detection</th>
        </tr>
      </thead>
      <tbody>
        {{ range $k, $v := allScans }}
        <tr class="hover" id="scan-{{ $k }}" data-start="{{ $v.StartTime }}" data-end="{{ $v.EndTime }}">
          <td x-init x-text="formatTime({{ $v.StartTime }})">{{ $v.StartTime }}</td>
          <td x-init x-text="formatTime({{ $v.EndTime }})">{{ $v.EndTime }}</td>
          <td>{{ $v.Config.Targets }}</td>
          <td>{{ if $v.Config.TopPorts }}Top {{ end }}{{ $v.Config.Ports }}</td>
          {{ if $v.Config.OSScan }}
          <td class="text-success">{{ icon "check.svg" }}</td>
          {{ else }}
          <td class="text-error">{{ icon "close.svg" }}</td>
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</div>